<!-- The Navigation Bar -->

<nav class="navbar navbar-default">
 
  <div class="container-fluid">

    <div class="navbar-header">

      <a href="#" class="navbar-brand">Recipe Book</a>

    </div>

    <div class="collapse navbar-collapse"></div>

    <ul class="nav navbar-nav">

      <!-- The Main Links -->

      <li><a href="#">Recipes</a> </li>
      <li><a href="#">Shopping List</a> </li>

    </ul>

    <!-- Other Links to be on far right corner of Page -->

    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">

            <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">

        <ul class="dropdown-menu">

          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>

        </ul>

      </li>

    </ul>
              <!-- Line To access dropdown - Span Caret adds a downward arrow next to Link to indicate a dropdown -->
        <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>

        <ul class="dropdown-menu">

          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>

        </ul>

      </li>

    </ul>

  </div>


</nav>



<h3>Recipes</h3>

<app-recipes></app-recipes>

<hr>

<h3>Shopping List</h3>

<app-shopping-list></app-shopping-list>